// Navigation Styles here

header{
    width:100%;
	margin-top: 2%;
    border-bottom: 2px dashed grey;
    

}

header nav{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 3% 0;
    
     

    @media @mobile {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 1%;
    
    }
 

}
header nav a{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    width: 15%;
    text-align: center;
    margin-right: 1%;
    font-size: 150%;
    margin-top: 4%;
    color: black;
   
    
    
}
.funb{
    
    width:100%;
    font-size: 300%;
    
    
}